[submodule "blue-penguin"]
	path = blue-penguin
	url = git@github.com:ntimeu/blue-penguin.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
